html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header {
    height: 15%;
    display: flex;
    justify-content: center;
    font-size: xx-large;    
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 98%;
    background-color: bisque;
}

.game-board-container {
    height: 60%;
    width: 40%;
    background-color: rgb(205, 249, 252);
    margin: 0% 0% 1% 0%;
    border: solid rgb(255, 212, 159) 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.score-board {
    height: 15%;
    width: 75%;
    background-color: rgb(245, 220, 152);
    border: solid rgb(250, 196, 47) 1px;
    border-radius: 15px;
    overflow-wrap: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.player-board {
    height: 80%;
    width: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.img-container {
    height: 100px;
    width: 100px;
    overflow: hidden;
}

img {
    height: 100px;
    max-width: 100px;    
    object-fit: contain;

}

.first-player, .second-player, .player1-score, .player2-score {
    font-size: 2em;
}

.square {
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.start-game {
    position: absolute;
    top: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 10px 25px 10px;
    height: 54.5%;
    width: 39%;
    background-color: rgb(255, 222, 195);
}

.start-game > p {
    font-size: xx-large;
}

.start-game > div > button {
    width: 50%;
    height: 100%;
    font-size: x-large;
    background-color: burlywood;
}

.start-game > div > button:hover {
    background-color: rgb(236, 196, 143);
    cursor: pointer;
}

.game-mode {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.player-vs-player {
    position: absolute;
    top: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 10px 25px 10px;
    height: 54.5%;
    width: 39%;
    background-color: rgb(255, 222, 195);
    gap: 10%;
    display: none;
}

.player-vs-player > p {    
    font-size: xx-large;
}

.player-vs-player > button {
    width: 150px;
    height: 75px;
    font-size: x-large;
    background-color: burlywood;
}

div > input{
    width: 70%;
    cursor: pointer;
    font-size: x-large;
}

.player-vs-player > button:hover, .player-vs-computer > button:hover {
    background-color: rgb(236, 196, 143);
    cursor: pointer;
}

.players-names {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 100px;
    padding-left: 50px;
}

div > label {
    font-size: 2rem;
}

.player-vs-computer {
    position: absolute;
    top: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 10px 25px 10px;
    height: 54.5%;
    width: 39%;
    background-color: rgb(255, 222, 195);
    gap: 10%;
    display: none;
}

.player-vs-computer > p {    
    font-size: xx-large;
}

.player-vs-computer > button {
    width: 150px;
    height: 75px;
    font-size: x-large;
    background-color: burlywood;
}



